extends /layouts/main.pug
include /partials/canvaskit-selector

block title
  title canvaskit-wasm — WebGL Libraries Benchmark

block renderMode 
  +canvaskit-selector()

block scripts
  script(type="module" src="../scripts/canvaskit.ts")
