mixin header()
  header
    menu
      a(href="./pixi.pug") Pixi.js
      a(href="./canvaskit.pug") CanvasKit
      a(href="./context2D.pug") Context2D
      a(href="./threejs.pug") Three JS
      //- a(href="./babylon.pug") Babylon JS
      a(href="./fabric.pug") Fabric.js
      a(href="./konva.pug") Konva.js
      a(href="./dom.pug") DOM

      //- a(href="./mesh.pug") Mesh.js
      //- a(href="./p5.pug") P5.js
      //- a(href="./zrender.pug") ZRender
      //- a(href="./two.pug") Two.js
      //- a(href="./paper.pug") Paper.js
      //- a(href="./easeljs.pug") EaselJS
      //- a(href="./pencil.pug") Pencil.js
      //- a(href="./pts.pug") Pts
      //- a(href="./svgjs.pug") SVG.js
      //- a(href="./scrawl-canvas.pug") Scrawl-canvas.js

    a.github(href="https://github.com/gezilinll/benchmark-webgl-libraries" target="_blank") See on GitHub
